/******************************************   GENERAL   ************************************************/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #e6dbc3;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/******************************************   PÁGINA HOME   ************************************************/

.logo{
    width: 60%;
    height: 350px;
}
.search-form{
    margin-left: 85%;
    margin-top: -8%;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.nav-list  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 15px 0px;
    color: #919483;
    background-color: #616a5c;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 20px;
}
.title{
    text-align: center;
    font-weight: 600;
    color: #616a5c;
}

/******************************************   XXXXXX   ************************************************/