/******************************************   GENERAL   ************************************************/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #e6dbc3;
}
/******************************************   PÁGINA HOME   ************************************************/

.logo{
    width: 60%;
    height: 350px;
}
.search-form{
    margin-left: 85%;
    margin-top: -8%;
}
.search-input{
    border-radius: 5px;
    padding: 5px;
    border-color: #616a5c;
    border-style: solid;
    border-width: 2.5px;
}
.search-button{
    border-radius: 5px;
    padding: 5px;
    border-color: #616a5c;
    border-style: solid;
    border-width: 2.5px;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav-list  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 15px 0px;
    color: #a9a997;
    background-color: #616a5c;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 20px;
}
.title{
    text-align: center;
    font-weight: 600;
    color: #616a5c;
}
.contenedorRecetas{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;   
}
.receta {
    max-width: 30%; 
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin: 20px;
}
.receta img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.receta h2 {
    margin: 10px 0;
    border-radius: 5px;
}

.receta p {
    margin: 5px 0;
    border-radius: 5px;
}
.receta a{
    text-decoration: none;
    background-color: #a9a997;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 10px;
    color: #616a5c;
}
.botonCargarMas{
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
.cargarMas{
    display: flex;
    justify-content: center;
    align-items: center;
}
/******************************************   PÁGINA RECETA   ************************************************/

#nombreReceta{
    text-align: center;
    margin: 20px;
}
#fotoReceta{
    width: 40%;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 20px;
}
#detalleReceta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#detalleReceta p{
    margin: 20px;
    max-width: 50%;
    text-align: center;
}
#detalleReceta h2{
    margin: 20px;
}

/******************************************   REGISTRO   ************************************************/
.body-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.registroForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 10px;
    max-width: 400px;
    width: 100%;
    background-color: #616a5c;
    border-radius: 20px;
}
.registroForm div{
    margin: 20px;
    background-color: #616a5c;
    display: flex;
    flex-direction: column;
}

/******************************************   CATEGORIES   ************************************************/

.categoriaBox {
    background-color: #ece1e1;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.categoriaLink {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}


.recetaBox {
    background-color: #ffffff;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.imagenReceta {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.recipe-difficulty {
    font-size: 14px;
    color: #666;
}

.recipe-link {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
}
.contenedorCategorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categoriaBox a{
    background-color: #a9a997;
    padding: 5px;
    border-radius: 5px;
}
.h1-c{
    text-align: center;
    margin: 30px;
}


.no-results, .error {
    width: 100%;
    text-align: center;
    color: #616a5c;
    font-size: 18px;
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.error {
    color: #ff0000;
    background-color: #ffeeee;
}